.App {
  text-align: center;
}


.form {
  width: 1000px;
  margin: auto;
  padding: 80px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.title {
  padding: 20px 0;
}