.App {
  text-align: center;
}

h2.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

div.center {
  margin-top: 1%;
  margin-bottom: 0.5%;
  text-align: center;
  font-size: 4em;
}

div.left {
  margin-left: 2%;
  text-align: left;
  font-size: large;
}

.form {
  width: 1000px;
  margin: auto;
  padding: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.title {
  padding: 20px 0;
}