.App {
  text-align: center;
}

h2.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.form {
  width: 1000px;
  margin: auto;
  padding: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.title {
  padding: 20px 0;
}